@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --radius: 1rem;
  --background: oklch(0.98 0.0034 247.86);
  --foreground: oklch(0.24 0.0034 247.86);
  --card: oklch(0.93 0.0316 251.13);
  --card-foreground: oklch(0.24 0.0034 247.86);
  --popover: oklch(0.98 0.0034 247.86);
  --popover-foreground: oklch(0.24 0.0034 247.86);
  --primary: oklch(0.84 0.0284 248.17);
  --primary-foreground: oklch(0.24 0.0034 247.86);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.72 0.0221 248.14);
  --accent-foreground: oklch(0.98 0.0034 247.86);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.93 0.0316 251.13);
  --input: oklch(0.93 0.0316 251.13);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.27 0.0188 258.37);
  --foreground: oklch(0.95 0 0);
  --card: oklch(0.33 0.0173 262.26);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.33 0.0173 262.26);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.71 0.0559 200.43);
  --primary-foreground: oklch(0.95 0 0);
  --secondary: oklch(1 0 0 / 15%);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(1 0 0 / 15%);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(1 0 0 / 15%);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.33 0.0173 262.26);
  --input: oklch(0.71 0.0559 200.43 / 30%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(1 0 0 / 15%);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.responsive-background {
  @apply fixed inset-0 -z-10 bg-cover bg-center bg-no-repeat;

  /* Light theme - desktop */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1205%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(248%2c 250%2c 252%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c674.495C124.504%2c670.547%2c218.876%2c570.966%2c324.505%2c504.94C431.636%2c437.975%2c562.77%2c395.525%2c623.516%2c284.75C685.639%2c171.463%2c696.216%2c27.847%2c652.876%2c-93.869C612.062%2c-208.488%2c491.373%2c-266.545%2c399.01%2c-345.744C320.886%2c-412.734%2c250.425%2c-488.085%2c153.336%2c-522.214C52.845%2c-557.538%2c-53.352%2c-554.5%2c-159.128%2c-541.94C-282.774%2c-527.258%2c-425.626%2c-533.377%2c-511.553%2c-443.263C-597.782%2c-352.832%2c-591.701%2c-210.385%2c-594.396%2c-85.461C-596.838%2c27.758%2c-570.092%2c135.918%2c-526.299%2c240.353C-481.292%2c347.682%2c-427.788%2c451.892%2c-338.008%2c525.951C-241.108%2c605.884%2c-125.551%2c678.477%2c0%2c674.495' fill='%237ea3c8'%3e%3c/path%3e%3cpath d='M1920 1764.679C2079.389 1757.966 2244.359 1878.101 2387.01 1806.683 2530.2380000000003 1734.976 2574.5209999999997 1554.857 2635.194 1406.618 2693.689 1263.7 2765.793 1113.954 2732.234 963.218 2699.392 815.701 2572.206 712.962 2458.5789999999997 613.319 2357.508 524.686 2242.413 459.10900000000004 2113.5860000000002 420.707 1984.335 382.179 1846.445 350.966 1718.165 392.61199999999997 1591.34 433.78599999999994 1515.53 553.844 1419.271 646.116 1311.998 748.947 1141.251 817.908 1120.9299999999998 965.111 1100.6 1112.383 1272.915 1212.8029999999999 1321.655 1353.255 1377.979 1515.563 1285.44 1749.7730000000001 1427.0059999999999 1847.114 1567.133 1943.466 1750.094 1771.835 1920 1764.679' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1205'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.responsive-background.dark {
  /* Dark theme - desktop */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1206%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(34%2c 40%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c674.495C124.504%2c670.547%2c218.876%2c570.966%2c324.505%2c504.94C431.636%2c437.975%2c562.77%2c395.525%2c623.516%2c284.75C685.639%2c171.463%2c696.216%2c27.847%2c652.876%2c-93.869C612.062%2c-208.488%2c491.373%2c-266.545%2c399.01%2c-345.744C320.886%2c-412.734%2c250.425%2c-488.085%2c153.336%2c-522.214C52.845%2c-557.538%2c-53.352%2c-554.5%2c-159.128%2c-541.94C-282.774%2c-527.258%2c-425.626%2c-533.377%2c-511.553%2c-443.263C-597.782%2c-352.832%2c-591.701%2c-210.385%2c-594.396%2c-85.461C-596.838%2c27.758%2c-570.092%2c135.918%2c-526.299%2c240.353C-481.292%2c347.682%2c-427.788%2c451.892%2c-338.008%2c525.951C-241.108%2c605.884%2c-125.551%2c678.477%2c0%2c674.495' fill='%23161a20'%3e%3c/path%3e%3cpath d='M1920 1764.679C2079.389 1757.966 2244.359 1878.101 2387.01 1806.683 2530.2380000000003 1734.976 2574.5209999999997 1554.857 2635.194 1406.618 2693.689 1263.7 2765.793 1113.954 2732.234 963.218 2699.392 815.701 2572.206 712.962 2458.5789999999997 613.319 2357.508 524.686 2242.413 459.10900000000004 2113.5860000000002 420.707 1984.335 382.179 1846.445 350.966 1718.165 392.61199999999997 1591.34 433.78599999999994 1515.53 553.844 1419.271 646.116 1311.998 748.947 1141.251 817.908 1120.9299999999998 965.111 1100.6 1112.383 1272.915 1212.8029999999999 1321.655 1353.255 1377.979 1515.563 1285.44 1749.7730000000001 1427.0059999999999 1847.114 1567.133 1943.466 1750.094 1771.835 1920 1764.679' fill='%232e3642'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1206'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

@media (max-width: 768px) {
  .responsive-background {
    /* Light theme - mobile */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='498' height='768' preserveAspectRatio='none' viewBox='0 0 498 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1422%26quot%3b)' fill='none'%3e%3crect width='498' height='768' x='0' y='0' fill='rgba(248%2c 250%2c 252%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c363.755C66.92%2c382.853%2c137.089%2c342.033%2c195.853%2c304.753C254.851%2c267.325%2c309.714%2c217.988%2c333.39%2c152.254C356.322%2c88.586%2c343.856%2c17.81%2c322.311%2c-46.341C303.17%2c-103.336%2c260.628%2c-146.421%2c218.632%2c-189.445C178.963%2c-230.085%2c139.742%2c-274.367%2c84.995%2c-289.468C30.636%2c-304.462%2c-26.509%2c-290.208%2c-79.796%2c-271.762C-131.152%2c-253.984%2c-178.587%2c-226.655%2c-214.439%2c-185.812C-250.441%2c-144.798%2c-270.793%2c-93.908%2c-282.671%2c-40.642C-295.315%2c16.061%2c-314.329%2c80.021%2c-284.885%2c130.103C-255.597%2c179.921%2c-179.83%2c173.643%2c-135.146%2c210.291C-81.352%2c254.41%2c-66.901%2c344.663%2c0%2c363.755' fill='%237ea3c8'%3e%3c/path%3e%3cpath d='M498 1061.778C561.513 1065.465 630.779 1092.259 684.973 1058.935 739.245 1025.562 747.333 951.88 772.1510000000001 893.201 796.2049999999999 836.329 842.7860000000001 780.516 828.096 720.539 813.454 660.759 743.768 636.04 698.858 593.955 659.39 556.97 629.008 511.418 580.157 488.198 525.673 462.301 462.259 432.924 406.027 454.767 349.89599999999996 476.57 339.659 551.119 300.47 596.8389999999999 261.578 642.213 199.733 666.556 177.08499999999998 721.859 151.73000000000002 783.773 140.541 857.697 168.81099999999998 918.336 197.038 978.8820000000001 263.236 1011.322 324.477 1038.008 379.104 1061.811 438.512 1058.325 498 1061.778' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1422'%3e%3crect width='498' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  .responsive-background.dark {
    /* Dark theme - mobile */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='498' height='768' preserveAspectRatio='none' viewBox='0 0 498 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1283%26quot%3b)' fill='none'%3e%3crect width='498' height='768' x='0' y='0' fill='rgba(34%2c 40%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c296.765C54.541%2c294.339%2c89.142%2c239.559%2c136.518%2c212.427C187.277%2c183.357%2c266.485%2c185.936%2c288.295%2c131.66C310.334%2c76.812%2c255.562%2c21.738%2c235.482%2c-33.857C219.827%2c-77.201%2c210.815%2c-121.868%2c183.357%2c-158.88C154.269%2c-198.09%2c116.212%2c-227.318%2c73.897%2c-251.669C20.806%2c-282.222%2c-32.556%2c-325.071%2c-93.42%2c-318.158C-156.289%2c-311.017%2c-209.613%2c-265.213%2c-248.217%2c-215.081C-285.652%2c-166.467%2c-301.702%2c-105.092%2c-304.683%2c-43.807C-307.484%2c13.774%2c-294.066%2c71.295%2c-264.557%2c120.819C-236.889%2c167.253%2c-189.561%2c194.998%2c-144.554%2c224.931C-98.825%2c255.344%2c-54.865%2c299.206%2c0%2c296.765' fill='%23161a20'%3e%3c/path%3e%3cpath d='M498 973.4110000000001C541.651 981.8779999999999 587.944 989.169 628.6759999999999 971.335 672.183 952.285 710.333 917.101 727.63 872.8679999999999 744.613 829.438 732.943 780.978 720.711 735.979 709.608 695.1320000000001 693.315 654.028 660.782 626.948 630.331 601.601 588.316 600.172 549.297 593.298 514.47 587.163 480.2 582.484 445.445 589.013 407.772 596.09 367.164 603.921 341.445 632.344 315.56899999999996 660.94 317.639 703.3199999999999 308.179 740.708 297.45500000000004 783.093 263.43 827.065 282.185 866.559 300.98 906.138 357.027 906.818 396.293 926.259 430.474 943.182 460.557 966.148 498 973.4110000000001' fill='%232e3642'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1283'%3e%3crect width='498' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
}

.sombra-mesclada {
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.3));

  /* Ajuste para suavizar a transição */
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.cl-userButtonAvatarBox {
  width: 64px !important;
  height: 64px !important;
}

.shadow-4xl {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

:focus:not(:focus-visible) {
  outline: none;
}

.editor-class {
  background-color: var(--card);
  padding: 1rem;
  border: 1px solid var(--background);
  border-radius: 1rem;
}

.toolbar-class {
  background-color: var(--card) !important;
  border-radius: 1rem !important;
  border: none !important;
}
